.container{
    background-color: violet;
    height:100vh;
    
}
.head{
    background-color: aqua;
    height:80px;
}
.body{
    background-color: brown;
    height:550px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.body-l,.body-r{
    border:2px solid white;
  //  word-wrap: break-word; // to keep the word inside the div
      
}

.left-container{
    position:absolute;
    
    
}

.left-content{
    background-color: aliceblue;
    position: relative;
    word-wrap: break-word;
    

}

.body-r{

    position:relative;
    
}
 
.r-row1{
    height:50px;
   border:3px solid green;
    position:absolute;
   top:10px;

}

.r-row2{
    height:250px;
   border:3px solid yellow;
     position:absolute;
       top:100px;}

.r-row3{
    height:150px;
   border:3px solid blue;
    position:absolute;
    bottom:10px;
}


